<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 配置命名空间，区别名称 -->
<mapper namespace="xiao.ze.demo.mapper.UserMapper">


    <!-- SQL片段 -->
    <sql id="cols">user_no,user_pwd,user_name</sql>

    <!-- 中间，对象的属性和结果集的字段之间的对应关系 -->
    <resultMap type="xiao.ze.demo.entity.User" id="userRM">

        <!-- 主键映射 -->
        <id property="userNo" column="user_no"/>

        <!-- 普通字段 property指实体的属性；column结果集的字段名称 -->
        <result property="userName" column="user_name"/>
        <result property="userPwd" column="user_pwd"/>

    </resultMap>

    <!-- 查询一个，按主键查询 -->
    <select id="get" parameterType="string" resultType="xiao.ze.demo.entity.User" resultMap="userRM">
        select<include refid="cols"/>from tbl_users
        where user_no = #{pid}
    </select>

    <!-- 新增 -->
    <insert id="addUser" parameterType="xiao.ze.demo.entity.User">
        insert into tbl_users
        (<include refid="cols"/>)
        values
        (#{userNo},#{userPwd},#{userName})

    </insert>

</mapper>